!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache

# Added by Claude Task Master
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/ 